<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
    <style>
        #googleBtn {
            background-image: url('./img/btn_google_signin_light_normal_web.png')
        }
        .navbar {
            margin-bottom: 0;
        }
        .navbar-light {
            background-color: transparent !important;    
            border-color: transparent;
            background-image: none;
            box-shadow: none;
        }
        .jumbotron {
            background-color: rgb(62, 69, 133);
            min-height:100vh;
            margin-bottom: 0;
            color: #fff;
        }
        .jumbotron .container{
            margin-top: 30vh;
        }
        
        /* Search Result Page */
        .sidebar-content {
            height: 100%;
            width: 40%;
            position: absolute;
            background-color: rgb(67, 92, 173);
            overflow: auto;
        }
        .sidebar-content ul {
            border: none;
        }
        .sidebar-content ul li {
            background-color: rgb(67, 92, 173);
            color: white;
            
            border-left: 0 none !important;
            border-right: 0 none !important;
    
            
        }
        /* .thumb {
            height: 100px;
            width: 100px;
        } */
        #map {
            height: 100%;
            width: 100%;
            left: 40%;
            position: absolute;
            right: 0px;
        }
        
    </style>
</head>